<section
  class="users-toolbar"
  aria-label="Панель фильтров и сортировки пользователей"
>
  <div class="controls">
    <div class="controls__group">
      <span class="label">Возраст:</span>
      <span class="range__value range__value--min" id="ageRangeValueMin">0</span>
      <div class="range" id="ageRange">
        <div class="range__track">
          <div class="range__progress" id="ageRangeProgress"></div>
        </div>
        <input
          type="range"
          id="ageRangeMin"
          class="range__input"
          min="0"
          max="100"
          value="0"
        />
        <input
          type="range"
          id="ageRangeMax"
          class="range__input"
          min="0"
          max="100"
          value="100"
        />
      </div>
      <span class="range__value range__value--max" id="ageRangeValueMax">100</span>
    </div>
  </div>
</section>


